<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML and CSS Tags</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Web Tags</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                 <a href="/titles/read">Read</a>
            </li>
            <li>
                 <a href="/titles/notread">Not read</a>
            </li>
        </ul>
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>
</body>
</html>