<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini Library</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Your Library</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/read">Read</a>
            </li>
            <li>
                <a href="/not_read">Not read</a>
            </li>
        </ul>
    </nav>
    <main>
        <h2>Not Read</h2>
        <table>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Description</th>
                <th>Published Year</th>
            </tr>
                {% for book in books %}
                <tr>
                    <td>{{ book[0] }}</td>
                    <td>{{ book[1] }}</td>
                    <td>{{ book[2] }}</td>
                    <td>{{ book[3] }}</td>
                </tr>
                {% endfor %}
        </table>
    </main>
    <footer>
        <p>&copy; D Benseman 2022</p>
    </footer>
</body>
</html>